#include "Generated.xcconfig"
#include? "ReleaseSigning.xcconfig"

UR_NATIVE_LIBRARY[sdk=iphoneos*] = $(PROJECT_DIR)/../../rust/target/ios/UniversalReaderNative.xcframework/ios-arm64/libuniversal_reader_native.a
UR_NATIVE_LIBRARY[sdk=iphonesimulator*] = $(PROJECT_DIR)/../../rust/target/ios/UniversalReaderNative.xcframework/ios-arm64_x86_64-simulator/libuniversal_reader_native.a
OTHER_LDFLAGS = $(inherited) -force_load "$(UR_NATIVE_LIBRARY)" -Wl,-export_dynamic
